body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
     display: flex;
     justify-content: center; 
     align-items: center; 
     height: 100vh; 
     margin: 0;
}

.container {
   width: 100%;
            max-width: 600px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customer-list {
    margin-top: 20px;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.customer button {
    padding: 8px 16px;
    cursor: pointer;
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 60%;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

.active {
    background-color: #c1e7b0;
}

.inactive {
    background-color: #f9c0c0;
}
